@if (board) {
	<div
		class="w-full h-full flex flex-col gap-4 overflow-hidden relative bg-cover bg-center"
		[ngStyle]="{
			'background-image': board.image ? 'url(' + board.image + ')' : 'none',
		}"
	>
		<!-- Overlay para el color de fondo -->
		@if (board.color) {
			<div class="absolute inset-0 opacity-60" [class]="bgColors(board.color)"></div>
		}

		<!-- Contenido principal con z-index para estar sobre el overlay -->
		<div class="relative z-10 flex flex-col gap-4 h-full">
			<nav class="flex justify-between items-center bg-gray-900/30 px-4 py-4">
				<div>
					<h1>{{ board.name }}</h1>
				</div>
				<div>
					<app-ui-button variant="light">
						<span class="flex gap-2 items-center">
							<fa-icon [icon]="faShare" />
							<span>Share</span>
						</span>
					</app-ui-button>
				</div>
			</nav>
			<div class="flex flex-row gap-4 grow w-full mx-4 h-full">
				@for (list of lists; track list.id) {
					<div class="w-2/10">
						<app-ui-list-task
							[list]="list"
							[listId]="list.id"
							[allLists]="lists"
							(dropEvent)="onDrop($event)"
						/>
					</div>
				}
				<div class="w-2/10">
					@if (board) {
						<app-ui-new-list [boardId]="board.id" />
					}
				</div>
			</div>
		</div>
	</div>
}
