<div class="w-full min-w-96 text-gray-500 dark:text-gray-100 h-full">
	<header class="flex justify-between items-center">
		<h2 class="font-bold">Lista de tareas</h2>
		<button class="text-2xl font-bold cursor-pointer" (click)="closeModal()">
			<fa-icon [icon]="faXmark" />
		</button>
	</header>
	<hr class="mt-2 border-gray-200 dark:border-gray-800" />
	<main class="flex gap-5 w-full">
		<div class="w-2/3 pt-4 pb-10 h-full">
			<form
				[formGroup]="form"
				class="flex flex-col gap-2 max-h-[calc(100vh-24rem)] overflow-y-auto"
				(ngSubmit)="editTask()"
			>
				<div class="sticky top-0 z-10 bg-white dark:bg-slate-900 py-2">
					<div class="flex gap-2 items-center">
						<button
							class="border border-gray-200 dark:border-gray-800 rounded-full w-6 h-6 group hover:bg-green-500 transition-all duration-300 dark:hover:bg-green-900 cursor-pointer"
						>
							<span class="sr-only">Completar tarea</span>
							<fa-icon
								[icon]="faCheck"
								class="transition-all duration-500"
								[ngClass]="{
									'text-green-500': task.done,
									'hidden group-hover:block': !task.done,
								}"
							/>
						</button>
						<h3 class="font-bold text-xl w-full">
							@if (editName) {
								<app-ui-input
									type="text"
									class="w-full"
									formControlName="name"
									(blur)="editName = false"
								/>
							} @else {
								<span (click)="editName = true">{{ task.name }}</span>
							}
						</h3>
					</div>
					<div class="flex gap-2 items-center my-3 justify-between">
						<app-ui-button variant="ghost" size="sm">
							<fa-icon [icon]="faPlus" class="pr-2" />
							add
						</app-ui-button>
						<app-ui-button variant="ghost" size="sm">
							<fa-icon [icon]="faTag" class="pr-2" />
							Tags
						</app-ui-button>
						<app-ui-button variant="ghost" size="sm">
							<fa-icon [icon]="faClock" class="pr-2" />
							Dates
						</app-ui-button>
						<app-ui-button variant="ghost" size="sm">
							<fa-icon [icon]="faCheckSquare" class="pr-2" />
							Checklist
						</app-ui-button>
						<app-ui-button variant="ghost" size="sm">
							<fa-icon [icon]="faUserPlus" class="pr-2" />
							Members
						</app-ui-button>
					</div>
				</div>
				<div class="flex flex-col gap-2 mt-4">
					<div class="flex gap-2 items-center">
						<fa-icon [icon]="faAlignJustify" />
						<h3 class="font-bold">Description</h3>
					</div>
					<div class="ml-5">
						@if (editDescription) {
							<textarea
								#description
								class="w-full bg-gray-100 dark:bg-gray-800 rounded-md p-2 resize-none focus:outline-none focus:ring-0 focus:border-0 focus:ring-0 focus:ring-offset-0"
								rows="3"
								formControlName="description"
								(blur)="editTask()"
							></textarea>
						} @else {
							<span
								(click)="editDescriptionAndFocus()"
								class="cursor-pointer min-h-10 bg-gray-100 dark:bg-gray-700 w-full block rounded-md p-2"
								>{{ task.description }}</span
							>
						}
					</div>
				</div>
			</form>
		</div>
		<div class="w-1/3 bg-gray-100 dark:bg-gray-800 p-3 min-h-full">
			<div
				class="flex flex-col gap-2 pb-10 max-h-[calc(100vh-24rem)] overflow-y-auto"
			>
				<h3 class="font-bold">Comments</h3>
				<div class="flex flex-col gap-2">
					<div class="flex flex-col gap-2">
						<div class="flex flex-row gap-2 items-center">
							<app-ui-word-avatar [name]="'JD'" [size]="'sm'" />
							<div class="flex flex-col">
								<h4 class="font-bold">John Doe</h4>
							</div>
						</div>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.</p>
					</div>
				</div>
			</div>
		</div>
	</main>
</div>
