<div class="flex flex-col gap-2">
	<div class="flex items-center gap-4">
		<app-ui-word-avatar
			[name]="workspace?.name ?? workspacePlaceholder.name"
			size="lg"
			[limit]="true"
		/>
		<div class="flex flex-col gap-2">
			<div class="flex items-center gap-2">
				@if (!enableEdit()) {
					<span class="">{{ workspace?.name ?? workspacePlaceholder.name }}</span>
					<app-ui-button
						variant="ghost"
						size="sm"
						[fullWidth]="true"
						(click)="enableEdit.set(!enableEdit())"
					>
						<span class="flex items-center gap-2">
							<fa-icon [icon]="faPencil" />
							<span class="sr-only">Edit</span>
						</span>
					</app-ui-button>
				}
				@if (enableEdit() && workspace) {
					<app-ui-edit-workspace
						[workspace]="workspace"
						(close)="enableEdit.set(false)"
					/>
				}
			</div>
			<p class="text-sm text-gray-500">
				<fa-icon [icon]="workspace?.public ? faLockOpen : faLock" />
				<span class="pl-1">
					{{ workspace?.public ? 'Public' : 'Private' }}
				</span>
			</p>
		</div>
	</div>
	<p class="text-sm text-gray-500 dark:text-gray-300">Tasks</p>
</div>

<hr class="my-4 border-gray-200 dark:border-gray-700" />

<div class="flex flex-col gap-4">
	<h4 class="flex items-center gap-2">
		<fa-icon [icon]="faUser" />
		<span> Your tasks boards </span>
	</h4>
	<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
		@for (board of boards(); track board.id) {
			<app-ui-preview-board [board]="board" />
		}

		<app-ui-new-board [workspaceId]="workspace?.id" />
	</div>
</div>
